
@font-face {
  font-family: "Code";
  src: url("../fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Code",  sans-serif ;
}




html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color:#e8eaf6;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(15, 2, 84)
    )
    rgb(49, 27, 146);
}
.prueba{
  color:rgb(15, 2, 84)
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.Title{
  font-size:2.5rem;
  text-align: center;
  margin: 1rem 0;
  color:#40c4ff;
  font-family: "Code",  sans-serif ;
}
.toolsTitle{
  font-size:2.5rem;
  text-align: center;
  margin: 1rem 0;
  color:#0277bd;
  font-family: "Code",  sans-serif ;
}
.projectsTitle{
  text-align: center;
  margin: 1rem 0;
  font-size:2.5rem;
  color:rgb(123, 251, 123);
  font-family: "Code",  sans-serif;
}