
.containerPersonal{

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-bottom:3rem;
    
}
.columnImg{
    width:40%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    

}
.personalImg{
    height: 10rem;

}
.Title{
    font-size:2.5rem;
    text-align: center;
    margin: 5rem 0rem 0 0;
    color:#40c4ff;
    font-family: "Source Code Pro",  sans-serif;
    font-weight: 400;
  }

.personalSubTitle{
    font-family: "Source Code Pro",  sans-serif;
    font-weight: 400;
    color:#ea80fc;
    margin-top:3rem;
}

   
.personalParag{
    margin-top:1rem;
    font-family: "Source Code Pro",  sans-serif;
    font-weight: 400;
}
.personalParag span{
    font-family: "Source Code Pro",  sans-serif ;
    font-weight: 400;
    color:#80fce5;
}
  


